body {
    background-image: linear-gradient(90deg, rgba(105, 167, 203, 0.5), rgba(105, 192, 203, 0.5)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    color: white;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}

header {
    text-align: center;
    font-size: 16;
    margin: 0;
    margin-bottom: 3%;
}

h1 {
    padding-top: 1%;
    margin-bottom: 1%;
}

form {
    width: 50%;
    min-width: 500px;
    margin: auto;
    font-size: larger;
}

input,
select,
textarea {
    width: 100%;

}

.inline {
    width: unset;
}

label {
    display: block;
}

p {
    margin: 0;
    padding: 0;
}

fieldset {
    background-color: rgba(24, 76, 173, 0.377);
    padding: 10px 30px;
    border: none;
}

.presentation {
    padding: 10px 0;
}

input[type="submit"] {
    padding: 3%;
    background-color: darkblue;
    color: aliceblue;
    border-radius: 8px;
    border: 1px solid darkblue;
}

input[type="text"],
input[type="email"],
input[type="number"],
select[type="dropdown"] {
    height: 4%;
    padding-left: 1%;
    border-radius: 8px;
    border: 1px solid white;
    margin-top: 1%;
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: 2%;
}

i {
    font-size: 15;
}

textarea {
    height: 10%;
    border-radius: 8px;
    margin-top: 1%;
}

.border-radius-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.border-radius-bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

footer{
    text-align: center;
    color: white;
    font-size: 10px;
}
