:root {
    --orange-color: rgb(230, 127, 3);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

html {
    font-size: 20px;
}

hr {
    border: 2px solid var(--orange-color);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 130px;
    background-color: black;
}

/* Navbar */

#nav-bar>ul>li,
footer>ul>li {
    list-style-type: none;
}

#nav-bar>ul>li>a,
footer>ul>li>a {
    text-decoration: none;
    color: linen;
}

.tab {
    width: 10rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#header-img {
    width: 221px;
    height: 130px;
}

/* Main page */

.container {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) minmax(2rem, 58.75rem) minmax(2rem, 1fr);
    row-gap: 2rem;
}

#hero,
#features,
#how_it_works,
#guitar,
#quotes,
hr,
footer {
    grid-column: 2 / 3;
}

/* Hero */

#hero {
    text-align: center;
    padding-top: 140px;
}

h1,
form,
h3,
input,
.btn {
    margin: 1rem 0;
}

h3 {
    font-family: 'Baskervville', serif;
    color: rgb(167, 167, 165);
}

input,
.btn {
    display: block;
    margin: 0.5rem auto;
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
}

#submit,
.btn {
    padding: 0.5rem 1rem;
    background-color: var(--orange-color);
    border-color: var(--orange-color);
}

/* Features */

#features {
    padding-top: 140px;
}

.feature {
    padding-bottom: 140px;
}

.icon>i {
    width: 75px;
    height: 61px;
}

.icon {
    color: var(--orange-color);
    font-size: 3rem;
    margin: 0 3rem;
    padding: 1rem;
}

/* How it works */

#how_it_works {
    padding: 140px 0;
    text-align: center;
}

#video {
    width: 760px;
    height: 515px;
}

/* Guitars */

#guitar {
    padding: 140px 0;
}

.sales {
    border: 4px solid var(--orange-color);
    border-radius: 10px;
    width: 350px;
    height: 400px;
    background-color: black;
}

.guitar-name {
    color: var(--orange-color)
}

.sales img {
    width: 330px;
    height: 200px;
    object-fit: cover;
    border: 1px solid var(--orange-color);
    border-radius: 10px;
}

/* Quotes */

.quote::before {
    content: '" ';
}

.quote::after {
    content: ' "';
}

.quote {
    margin: 140px 0;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(172, 172, 172);
}

/* footer */

footer {
    height: 5rem;
    background-color: black;
    color: var(--orange-color);
}

footer>ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

footer>ul>li {
    margin: 1rem 0.5rem;
}

footer>span {
    margin: 1rem;
    font-size: 0.8rem;
    text-align: right;
}

footer>p{
    font-size: 0.6rem;
    text-align: right;
    margin-right: 10px;
}

/* media query */

@media screen and (max-width: 1200px) {

    html {
        font-size: 14px;
    }

    #header-img {
        width: 40px;
        height: 25px;
    }

    #header {
        height: 50px;
    }

    .tab,
    .logo {
        margin: 0.2rem;
    }

    #hero,
    #features {
        padding-top: 60px;
    }

    #guitar {
        padding: 60px 0;
    }

    .feature {
        padding-bottom: 60px;
    }

    .quotes {
        margin: 60px 0;
    }

    #guitar {
        flex-direction: column;
    }

    .sales {
        margin: 1rem;
    }

    #video {
        width: 460px;
        height: 315px;
        margin: 0;
        padding: 0;
    }
}
